{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended","react"],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "arrowFunctions": true,
        "classes": true,
        "spread": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "jsx-quotes": ["warn", "prefer-single"],
        "padded-blocks": ["warn", "always"],
        "space-before-function-paren": ["warn", "never"],
        "quotes": ["warn", "single"]
    }, 
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}